.monster-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid #501d1d;
    border-top: 0;
    padding: 20px;
}
.monster-wrapper:first-of-type {
    margin-top: 20px;
    border-top: 2px solid #501d1d;
}
.monsters-wrapper {
    padding-bottom: 20px;
}
.first-group {
    display: flex;
    flex-direction: row;
}
.elem img {
    width: 70px;
    align-self: center;
}
.info-wrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 20px;
}
.monster-name {
    margin-bottom: 5px;
    font-size: 18px;
}
.attr-wrapper {
    display: flex;
    flex-direction: row;
}
.attr-wrapper img {
    width: 26px;
}
.monster-atk {
    margin-right: 20px;
}
.attr-wrapper i {
    font-size: 25px;
}

.delete-monster img {
    width: 50px;
    margin-top: 10px;
}
.delete-monster img:hover {
    cursor: pointer;
}